 .et_pb_blurb_container a {
    color: #747d88!important;
    text-align: center;
}


.auz_gallery_v1 {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
  	flex-flow: row wrap;
}
.auz_gallery_v1 li {
    width: 33%;
}

.auz_gallery_v1 ul {
    width: 33%;
	 
}
#left-area ul, .entry-content ul, .et-l--body ul, .et-l--footer ul, .et-l--header ul {
list-style-type: none !important;}


.auzalan_mi_sombra {
    box-shadow: -5px 50px 65px -50px rgb(0 0 0 / 35%);
}


@media screen and (max-width:1200px) {

	.auz_gallery_v1 li {
		width: 50%;
	}

}

@media screen and (max-width:700px) {

	.auz_gallery_v1 li {
		width: 100%;
	}

}