/* ESTILO 8 */

  
.auzalan_grid-gallery {
  display: grid;
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row dense;
}
 
@media all and (min-width: 320px) {
  .auzalan_grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 768px) {
  .auzalan_grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .auzalan_grid-gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}


.auzalan_grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}