a{
	/*color: #790d12;   como mucho en navarra para el rojo*/
}	


.columnas_1{
	min-width: 245px;
	width: 95%;
	display: inline-block;
	background: #ffffff;
	box-shadow:0px 0px 5px 1px #C9C9C9;
	-webkit-box-shadow:2px 2px 1px 5x #C9C9C9;
	-moz-box-shadow:2px 2px 1px 5px #C9C9C9;
	margin: 10px;
	padding: 10px;
}
img.alineado{
	float: left;
	margin: 0px 15px 15px 0px;
	width: 40px;

} 

img.redimension{
	max-height: 300px;
}

.contenedor3{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  /*background: #cccccc;*/
  align-items:initial;
  width: 100%;
}
 .columnas_3{
	min-width: 245px;
	width: 95%;
	display: inline-block;
	background: #ffffff;
	box-shadow:0px 0px 5px 1px #C9C9C9;
	-webkit-box-shadow:2px 2px 1px 5x #C9C9C9;
	-moz-box-shadow:2px 2px 1px 5px #C9C9C9;
	margin: 10px;
	padding: 10px;
}

.auzalan-table table, th, td, tbody{
	border: 0px;
	margin: 0 0 0 0;
}

.auzaicon td{
	width: 40px;
	padding: 0 0 0 0;		
	border: 0px;
}

.enlace-al-post{
	text-align:right;
	display: block;
}
	
.link-centrado{
	display: block;
	text-align:center;
}

.auzalan-link{
/*	color: #790d12;   como mucho en navarra para el rojo*/
}	

in-left: 5px;
}

@media (min-width: 700px) {  
  .columnas_3 {
	width: 45%;	
  }
}

@media (min-width: 1100px) {
  .columnas_3 { 
	width: 29%; 
	}   
  }

#post-viewer-div{
	margin: 10px;
}


/*Nuevo disenio cajas*/


.auz-columnas-3 {
    min-width: 245px;
    width: 95%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    /*-webkit-box-shadow: 2px 2px 1px 5x #C9C9C9;
    -moz-box-shadow: 2px 2px 1px 5px #C9C9C9;*/
    margin: 10px;
    padding: 0;
    position: relative;
}

@media (min-width: 700px) {
    .auz-columnas-3 {
        width: 45%;
    }
}

@media (min-width: 1100px) {
    .auz-columnas-3 {
        width: 29%;
    }
}



.auz-caja-img {
    width: 100%;
    max-height: 200px;

}

.auz-inner-img {
    width: 100%;
    max-height: 200px;
}

.auz-caja-contenido {
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
   
}

.auz-contenido-fill {
    flex-grow: 1;
}

.auz-out-box {
    background: #fff;
    margin:-5px;
}

.auz-out {
}

.auz-out:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.auz-ico-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

.auz-caja-controls {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.auz-controls-bottom {
  
    width: 100%;
}

.auz-out-box:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.auz-no-shadow {
    box-shadow:none;
}

.auz-control {
    width: 30%;
    display: inline-block;
}

.auz-control-rigth {
    text-align:right;
    vertical-align:central;
    padding-right:5px;
    margin-bottom:10px;
}

.auz-control-left {
    text-align: left;
    vertical-align: central;
    padding-left: 5px;
    margin-bottom: 10px;
}

.auz-contenido {

}

.m-5n {
    margin:-5px;
}

.auz_titulo{
color:#000000;
}