
.columnas_1{
	min-width: 245px;
	width: 95%;
	display: inline-block;
	background: #ffffff;
	box-shadow:0px 0px 5px 1px #C9C9C9;
	-webkit-box-shadow:2px 2px 1px 5x #C9C9C9;
	-moz-box-shadow:2px 2px 1px 5px #C9C9C9;
	margin: 10px;
	padding: 10px;
}
img.alineado{
		float: left;
		margin: 0px 10px 0px 5px;
} 

img.redimension{
	max-height: 300px;
}
	
.carpeta{
	height: 20px;
	margin: 1px 0px;
	height: 30px;
}

.carpeta-title{
	display: initial;        
}        

.nodo_titulo_enlace{
	display:-webkit-box;
	/*padding: 0;*/
	color: inherit;
}       

.nodo-icon{
	float: left;
	margin: 0px 10px 0px 5px;
	height: 30px;
	width: 30px;	
	max-width: 30px;
}
.nodo-title{
	width: 80%;
	margin: 0px 0px 0px 0px;
}

.nodo-table{
	margin: 5px 0px 0px 0;
	/*padding-left: 0px;*/
}

.contenedor3{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  /*background: #cccccc;*/
  align-items:initial;
  width: 100%;
}
 .columnas_3{
	min-width: 245px;
	width: 95%;
	display: inline-block;
	background: #ffffff;
	box-shadow:0px 0px 5px 1px #C9C9C9;
	-webkit-box-shadow:2px 2px 1px 5x #C9C9C9;
	-moz-box-shadow:2px 2px 1px 5px #C9C9C9;
	margin: 10px;
	padding: 10px;
}

.auzalan-table table, th, td, tbody{
	border: 0px;
	margin: 0 0 0 0;
/*	padding: 0 0 0 0;*/
	border: none;
}

.nodo-enlace-icon{
	height: 30px;
	width:40px;	
	max-width: 40px;
/*	padding: 0px 0px; */
}

.nodo-enlace-icon > img{
	height:  30px;
	width:  30px;		
}

.nodo-enlace-title{
	margin: 0px 0px 0 15px;
	/*padding: 0 0 0 0;*/
}

.nodo_titulo_enlace .nodo-enlace-table{	
	margin: 8px 0 0px 0;
	border: none;	
}
.nodo-enlace-table tr td{
	padding: 10 10 10 10;
	border: none;
}

.carpeta .nodo-enlace-table {
	border:none;
}
@media (min-width: 700px) {  
  .columnas_3 {
	width: 45%;	
  }
}

@media (min-width: 1100px) {
  .columnas_3 { 
	width: 30%; 
	}   
  }